
p.Categories{
    text-align: block;
    background-color: white;
    font-style: italic;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow:rgb(0, 0, 0) 2px 1px;
  }
  
  p.Text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: block;
    background-color: white;
  }
  
  p.subpages {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-decoration: none;
    text-shadow:rgb(0, 0, 0) 2px 1px;
  }
  
  h1 {
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow:darkgrey 3px 1px;
  }

  h3 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: white;
    color: white;
  }
  
  html {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }
  
  .topnav {
    background: url(black.jpg);
    background-image: repeating-linear-gradient();
    background-size: cover;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(0, 0, 0);
  }
  
  .topnav a.active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  
  body {
    background-image: url("corvette.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  img {
width: 75%; height: auto;
  }

  video{
    width: 75%; height: auto;
  }
