/*Farbe und Schriftart von Navigationsleiste*/
p.Categories{
    text-align: block;
    background-color: white;
    font-style: italic;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow:rgb(0, 0, 0) 2px 1px;
  }
  /*Textsorte und Schriftart*/
  p.Text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: block;
    background-color: white;
  }
  /*Schriftart auf unterseiten*/
  p.subpages {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-decoration: none;
    text-shadow:rgb(0, 0, 0) 2px 1px;
  }
  /*Schriftart f체r ersten Header*/
  h1 {
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow:darkgrey 3px 1px;
  }
 
  /*Schriftart f체r dritten Header*/
  h3 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: white;
    color: white;
  }

  /*Schriftart f체r zweiten Header*/
  h2 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: white;
    color: black (255, 0, 0);
  }
  /*Rahmen von HTML*/
  html {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }
  /*Hintrgrundbild der Navigationsleiste*/
  .topnav {
    background: url(black.jpg);
    background-image: repeating-linear-gradient();
    background-size: cover;
    overflow: hidden;
  }
  /*Design der Navigationsleiste*/
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 17px;
  }
  /*Farbe wenn man auf dem Link ist*/
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(0, 0, 0);
  }
  /*Design des ersten Feldes der Navigationsleiste*/
  .topnav a.active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  /*Design Quellen Link*/
  .topnav a.b {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    float:right;}

    .topnav a.b:hover
    {
      background-color: #ddd;
      color: rgb(0, 0, 0);
    }
  /*Hintergrund Design*/
  body {
    background-image: url("corvette.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
/*Ausrichtung BILD*/
  img {
width: 75%; height: auto;
  }
/*Ausrichtung Video*/
  video{
    width: 75%; height: auto;
  }
  /*Ausrichtung S채ule*/
  .column {
  width:50%;
  float: left;
  }